/* $color-background: #f0f3f3; */

* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
}

body,
html {
  color: #444444;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
}

a,
a:hover {
  text-decoration: none;
  color: #00b0bd;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}